<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>D3 cloud</title>
</head>
<body>
	<div id="vis"></div>
	<script src="js/d3.js"></script>
	<script src="js/d3.layout.cloud.js"></script>
	<script src="js/jquery.min.js"></script>
    <script>
var fill = d3.scale.category20();

var layout = d3.layout.cloud()
    .size([800, 800])
    .words((function a(){  //<![CDATA[
    	var city=[];
    	$.ajax({
    		type:"POST",
    		url:"../wordList",
    		dataType:'json',
    		async:false,		//
    		success:function(result){
    			for(var i=0;i<result.length;i++){
    				//alert("调用了");
    				//city.push(result[i].word);
    				city.push({"text":result[i].word, "size":result[i].count});
    			}
    		}
    	})
    	return city;
    })()//]]>
  //  .map(function(d) {
   //   return {text: d, size: 10 + Math.random() * 90};
   // })
   )
    .padding(5)
    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    .font("Impact")
    .fontSize(function(d) { return d.size; })
    .on("end", draw);

layout.start();

function draw(words) {
  d3.select("#vis").append("svg")
      .attr("width", layout.size()[0])
      .attr("height", layout.size()[1])
    .append("g")
      .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
    .selectAll("text")
      .data(words)
    .enter().append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      .style("font-family", "Impact")
      .style("fill", function(d, i) { return fill(i); })
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {
        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; });
}

    </script>
</body>
</html>
